{:dependencies [[reagent "0.8.1"]
                [keybind "2.2.0"]
                [tortue/spy "1.4.0"]]
 :source-paths ["src"]
 :builds {:main {:target :node-script
                 :output-to "app/main.js"
                 :optimizations :simple
                 :main app.main.core/main}

          :bootstrap {:target :bootstrap
                      :output-dir "app/bootstrap/"
                      :entries [cljs.js cljs.core]
                      :exclude #{cljs.js}}

          :renderer {:target :browser
                     :output-dir "app/"
                     :asset-path "."
                     :optimizations :advanced
                     :modules {:renderer {:entries [app.renderer.core]}}
                     :devtools {:http-root "app/"
                                :http-port 3742
                                :before-load app.renderer.core/stop
                                :after-load app.renderer.core/start}}}}
